h1 { font-size: 30px;
  max-width: 250px;
  margin: 0;
}

.temps {
  background-color: #87cefa;
  font-size: 20px;
}


.days {
  color: grey;
  font-weight: bolder;
}

.btn-primary {
  text-decoration: none;
  background-color: #87cefa;
  border: 1px solid #ffe69a;
  font-size: 20px;
  line-height: 25px;
}


.btn-info {
  background-color: #87cefa;
  border: 1px solid #ffe69a;
  font-size: 20px;
  line-height: 25px;
  color: #ffff;
}
