h1 {
  font-size: 30px;
  max-width: 250px !important;
  margin: 0 !important;
}

li {
  list-style: none;
}

.display {
  text-align: center;
  max-width: 170px !important;
}

.temps {
  background-color: #87cefa;
  font-size: 20px;
}

.days {
  color: #87cefa !important;
  font-weight: bolder;
}

.sun {
  margin: 19px 10px 0 10px;
  text-align: center;
  font-size: 40px;
}

.card-body {
  padding: 30px !important;
}

.app {
  background-color: #fffacd !important;
  margin: 30px auto;
  max-width: 700px !important;
}
.current {
  text-align: center !important;
  font-size: 70px !important;
}

.units {
  font-size: 30px;
}

.figures {
  padding: 30px !important;
}
.fiveday {
  margin: 20px !important;
}

.current-info {
  padding: 20px 10px !important;
  font-size: 30px !important;
}

.Search {
  display: inline !important;
  width: 300px !important;
  border-radius: 10px;
}

.search-btn {
  background: #87cefa;
  border: 1px solid #ffe69a;
  font-size: 20px;
  line-height: 25px;
  color: #ffff;
  padding: 6px 12px;
  border-radius: 8px;
  margin: 5px 0 5px;
}

.info-btn {
  background: #87cefa;
  border: 1px solid #ffe69a;
  font-size: 20px;
  line-height: 25px;
  color: #ffff;
  padding: 6px 12px;
  border-radius: 8px;
  margin: 5px 0 5px;
}

.search-engine {
  padding: 10px !important;
}

.sunrise {
  font-weight: bold;
}

.sunset {
  font-size: 25px;
}

.link {
  font-size: 13px;
}

.creator {
  font-size: 13px;
}
